.ant-popover-message-title {
  padding-left: 0;
}

.ant-popover-buttons {
  display: none;
}

.ant-popover-message-title div {
  margin-bottom: 15px;
}

.ant-popover-message-title div:last-child {
  margin-bottom: 0;
}

body {
  background-color: #00ece1;
}

#root {
  min-height: 100%;
}
